$color-blue: #2f3ff5;
$color-blue-dark: #2633c9;

$color-yellow: #f7d14b;
$color-yellow-dark: #c9a72c;

$color-red: #f33f60;
$color-red-dark: #c73850;

$color-dark: #1f1f1f;

$color-white: #fff;
$color-gray: #888;
$color-background: $color-white;
$color-link: #4785f8;

$color-subdued: #979797;

$color-brand: $color-red-dark;
$color-brand-bg: $color-dark;
$color-primary: #f84747;
$color-content: $color-dark;

$color-background-one: #f0f0f0;
$color-background-two: #dfdfdf;

$color-whatsapp: #15AB0C;
$color-github: #1F1F1F;
$color-linkedin: #209bcf;
$color-instgram: #be1cdf;
$color-snap: #ebd514;

$color-html: #E96228;
$color-css: #2363E9;
$color-js: #E8B824;
$color-sass: #C66394;
$color-bootstrap: #8311F6;

$color-vite: #8771F4;
$color-webpack: #8ACEF2;
$color-git: #E84D31;
$color-github: #0B0C0E;

$color-mysql: #005B87;
$color-php: #7377AD;

$color-photoshop: #092439;
$color-figma: #F76D5E;
