$color-blue: #0015ff;
$color-blue-dark: #0011cc;

$color-yellow: #ffc800;
$color-yellow-dark: #cca000;

$color-red: #ff002f;
$color-red-dark: #ca0022;

$color-dark: #1f1f1f;

$color-white: #fff;
$color-gray: #888;
$color-background: #fafafa;
$color-background-n: #f1f1f1;
$color-link: #007adf;

$color-subdued: #979797;

$color-brand: $color-red-dark;
$color-brand-bg: $color-dark;
$color-primary: $color-red;
$color-content: $color-dark;

$color-whatsapp: #15AB0C;
$color-github: #1F1F1F;
$color-linkedin: #209bcf;
$color-instgram: #be1cdf;
$color-snap: #ebd514;

$color-html: #E96228;
$color-css: #2363E9;
$color-js: #E8B824;
$color-sass: #C66394;
$color-bootstrap: #8311F6;

$color-vite: #8771F4;
$color-webpack: #8ACEF2;
$color-git: #E84D31;
$color-github: #0B0C0E;

$color-mysql: #005B87;
$color-php: #7377AD;

$color-photoshop: #092439;
$color-figma: #F76D5E;
