$color-blue: #0015ff;
$color-blue-dark: #0011cc;

$color-yellow: #ffc800;
$color-yellow-dark: #cca000;

$color-red: #ff002f;
$color-red-dark: #ca0022;

$color-dark: #1f1f1f;

$color-white: #fff;
$color-gray: #888;
$color-background: #fafafa;
$color-background-n: #f1f1f1;
$color-link: #007adf;

$color-title-subdued: #494949;

$color-brand: $color-red-dark;
$color-primary: $color-red;
$color-content: $color-dark;
