@use "../config/colors" as colors;
@use "../utilities/spacing" as spacing;
@use "../config/layout" as layout;
@use "sass:color";

// rest
#about-me,
#skills,
#certificates {
  h1 {
    padding-bottom: spacing.spacing("small");
  }
}

//classes
.custom-border-bottom {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid colors.$color-dark;
  width: fit-content;
}

// home
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  background-color: colors.$color-background;

  .wrapper {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(255, 0, 0, 0);
      transition: box-shadow 0.3s ease;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }

      &::after {
        background-color: rgba(colors.$color-primary, 0.06);
      }
    }
  }

  .custom-btn {
    border: none;
    background-color: colors.$color-brand;
    box-shadow: 0px 2px 0px 2px colors.$color-gray;
    color: colors.$color-white;

    &:hover {
      background-color: colors.$color-primary;
      color: colors.$color-white;
    }

    &:active {
      box-shadow: 0px 1px 0px 1px colors.$color-gray;
      color: colors.$color-white;
    }
  }

  .ghost {
    background-color: colors.$color-background-n;
    color: colors.$color-brand;

    &:hover {
      background-color: colors.$color-background-n;
      color: colors.$color-primary;
    }
  }
}

#about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$color-background-n;

  ul {
    list-style: none;
    padding: spacing.spacing("extra-small") 0px;

    .li-about {
      padding: spacing.spacing("extra-small") 0px;
    }
  }

  .li-about,
  .stat {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: inset 0px 0px 0px 1px colors.$color-gray;
    background-color: colors.$color-background;
    color: colors.$color-gray;
    padding: spacing.spacing("small") 0px;
    transition: all 0.3s ease;
    cursor: pointer;

    i.stat-icon {
      font-size: spacing.spacing("normal");
    }

    p {
      margin-bottom: 0;

      .stat-num {
        color: colors.$color-primary;
        font-size: spacing.spacing("small");
      }
    }

    h3 {
      margin-bottom: 0;
      color: colors.$color-primary;
    }

    &:hover {
      box-shadow: inset 0px 0px 0px 1px colors.$color-dark;
      transform: translateY(-2px);
    }
  }
}

#skills {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$color-background;

  h3 {
    color: colors.$color-gray;

    &.custom-border-bottom {
      border-bottom: 3px solid colors.$color-gray;
    }
  }

  .custom-skill-card {
    background: colors.$color-white;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s;

    &:hover {
      transform: translateY(-5px);
    }

    &__title {
      font-size: 18px;
      margin: 10px 0;
    }

    &__level {
      display: inline-block;
      padding: 4px 10px;
      background: colors.$color-gray;
      color: colors.$color-white;
      border-radius: 8px;
      font-size: 12px;
    }
  }
}

#certificates {
  background-color: colors.$color-background-n;

  .custom-certificates-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: right;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
    border: 1px solid transparent;
    background-color: colors.$color-white;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-5px);
    }
    &__img {
      object-fit: contain;
      &--vertical {
        width: auto;
        height: 100%;
      }
      &--horizontal {
        width: 100%;
        height: auto;
      }
    }

    &__contents {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 10px;
      padding: 10px 0px 0px 0px;

      &__type {
        font-size: 14px;
        border-radius: 5px;
        padding: 3px 5px;
        color: colors.$color-white;

        &--one {
          background-color: colors.$color-blue-dark;
        }

        &--two {
          background-color: colors.$color-yellow-dark;
        }

        &--three {
          background-color: colors.$color-red-dark;
        }
      }

      &__date {
        font-size: 14px;
        border-radius: 5px;
        padding: 3px 5px;
        color: colors.$color-gray;
        background-color: colors.$color-background-n;
      }

      &__title {
        font-size: 18px;
        margin-bottom: 0;
      }

      &__issuing-organization {
        margin-bottom: 0;
        font-size: 16px;
        color: colors.$color-gray;
      }
    }
  }
}

@media (max-width: layout.$medium-devices) {
  #home {
    .wrapper {
      height: 200px;
      width: 200px;
    }
  }
}
