@use "../config/colors" as colors;
@use "../utilities/spacing" as spacing;
@use "../config/layout" as layout;
@use "sass:color";

// rest

#about-me,
#skills,
#certificates,
#projects-gallery,
#education,
#contact {
  h1 {
    padding-bottom: spacing.spacing("normal");
  }
}

//classes
.subdued {
  color: colors.$color-subdued;
}

.custom-border-bottom {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid colors.$color-dark;
  width: fit-content;
}

// home
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  background-color: colors.$color-background;

  .hero-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;

    &__my-personal {
      flex: 0 0 auto;
      transform: none;
      width: 280px;
      position: relative;
      margin-right: 3rem;


      &__img {
        height: 350px;
        width: 100%;
        border-radius: 50px;
        position: relative;
        z-index: 2;
        display: block;
      }

      &__background {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transform: scale(1.05);
        border-radius: 50px;
      }
    }

    &__hero-content {
      max-width: 600px;
      text-align: start;
      flex: 1;

      &__title {
        color: colors.$color-primary;
      }

      &__btns {
        display: flex;
        gap: 1rem;

        &__btn {
          font-weight: 400;
          text-align: center;
          padding: 10px;
          border-radius: 10px;
          background-color: colors.$color-dark;
          color: colors.$color-white;
          border: 1px solid transparent;

          i {
            color: colors.$color-primary;
            margin-left: 3px;
          }
        }

        &__btn--secondary {
          font-weight: 700;
          border: 1px solid colors.$color-dark;
          color: colors.$color-dark;
          background-color: transparent;

          &:hover {
            background-color: rgba(colors.$color-dark, 0.1);
          }
        }
      }
    }
  }
}

#about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$color-background-n;

  ul {
    list-style: none;
    padding: spacing.spacing("extra-small") 0px;

    .li-about {
      padding: spacing.spacing("extra-small") 0px;
    }
  }

  .li-about,
  .stat {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: inset 0px 0px 0px 1px colors.$color-gray;
    background-color: colors.$color-background;
    color: colors.$color-gray;
    padding: spacing.spacing("small") 0px;
    transition: all 0.3s ease;
    cursor: pointer;

    i.stat-icon {
      font-size: spacing.spacing("normal");
    }

    p {
      margin-bottom: 0;

      .stat-num {
        color: colors.$color-primary;
        font-size: spacing.spacing("small");
      }
    }

    h3 {
      margin-bottom: 0;
      color: colors.$color-primary;
    }

    &:hover {
      box-shadow: inset 0px 0px 0px 1px colors.$color-dark;
      transform: translateY(-2px);
    }
  }
}

#skills {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$color-background;

  h3 {
    color: colors.$color-gray;

    &.custom-border-bottom {
      border-bottom: 3px solid colors.$color-gray;
    }
  }

  .custom-skill-card {
    background: colors.$color-white;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s;

    &:hover {
      transform: translateY(-5px);
    }

    &__title {
      font-size: 18px;
      margin: 10px 0;
    }

    &__level {
      display: inline-block;
      padding: 4px 10px;
      background: colors.$color-gray;
      color: colors.$color-white;
      border-radius: 8px;
      font-size: 12px;
    }
  }
}

#certificates {
  background-color: colors.$color-background-n;

  .custom-certificates-card {
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 350px;
    border: 2px solid transparent;
    background-color: colors.$color-white;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      border: 2px solid colors.$color-gray;
    }

    &__tmrer {
      position: relative;
      overflow: hidden;
      height: 300px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overly {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: all 0.3s ease;
        background: rgba(0, 0, 0, 0.5);
      }

      &:hover {
        .overly {
          opacity: 1;
        }
      }

      &__button {
        color: colors.$color-white;
        background-color: colors.$color-link;
        box-shadow: 0px 10px 15px transparent;
        padding: 5px 10px;
        border-radius: 8px;
        border: none;
      }
    }

    &__contents {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      padding: 25px;

      &__type {
        font-size: 14px;
        border-radius: 5px;
        padding: 3px 5px;
        color: colors.$color-white;

        &--one {
          background-color: colors.$color-brand;
        }

        &--two {
          background-color: colors.$color-yellow-dark;
        }

        &--three {
          background-color: colors.$color-red-dark;
        }
      }

      &__date {
        font-size: 14px;
        border-radius: 5px;
        padding: 3px 5px;
        color: colors.$color-gray;
        background-color: colors.$color-background-n;
      }

      &__title {
        font-size: 18px;
        margin-bottom: 0;
      }

      &__issuing-organization {
        margin-bottom: 0;
        font-size: 16px;
        color: colors.$color-gray;
      }
    }
  }
}

#projects-gallery {
  background-color: colors.$color-background;

  .projects {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .project {
      border-bottom: 3px solid colors.$color-background-n;
      padding-bottom: 25px;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      &--one {
        flex-direction: row;
      }

      &--two {
        flex-direction: row-reverse;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 75px;

      &__contents {
        flex: 5;
        display: flex;
        text-align: right;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &__title {
          color: colors.$color-dark;
          margin-bottom: 8px;
        }

        &__desc {
          color: colors.$color-gray;
          margin-bottom: 16px;
        }

        &__technologies {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;

          &__technique {
            border-radius: 5px;
            text-align: center;
            color: colors.$color-white;
            background-color: colors.$color-brand;
            font-weight: 600;
            padding: 3px 9px;
          }
        }

        &__links {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin: 16px 0px;

          &__link {
            font-weight: 600;
            border-radius: 10px;
            padding: 5px 10px;
            background-color: colors.$color-dark;
            border: 1px solid transparent;
            color: colors.$color-white;

            &--button {
              &:hover {
                background-color: adjust-color(colors.$color-dark,
                    $lightness: 20%);
              }
            }

            &--ghost {
              font-weight: 400;
              background-color: transparent;
              border: 1px solid black;
              color: black;

              &:hover {
                background-color: rgba(colors.$color-dark, 0.1);
              }
            }
          }
        }
      }

      &__gallery {
        flex: 5;
        width: 100%;
        height: 300px;
        border-radius: 10px;

        &__carousel {
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .carousel-inner {
            height: 100%;
            border-radius: 10px;

            .carousel-item {
              height: 100%;
            }
          }

          &__control {
            color: unset !important;
            background-color: unset !important;
            filter: unset !important;
            opacity: 1 !important;

            i {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 25px;
              height: 25px;
              border-radius: 5px;
              color: colors.$color-white;
              font-size: 18px;
              font-weight: bold;
              background-color: rgba(colors.$color-dark, 0.5);
              transition: all 0.2s ease;

              &:active,
              &:focus,
              &:hover {
                background-color: rgba(colors.$color-dark, 1);
              }
            }
          }
        }
      }
    }
  }
}

#education {
  background-color: colors.$color-background-n;

  .timeline {
    position: relative;
    text-align: right;

    &::before {
      position: absolute;
      content: "";
      width: 5px;
      border-radius: 10px;
      height: 100%;
      background-color: colors.$color-white;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .intermidate-diploma {
      position: relative;
      border-radius: 10px;
      background-color: colors.$color-white;
      width: calc(50% - 40px);
      padding: 20px;
      margin-left: auto;
      box-shadow: inset -4px 4px 2px rgba(colors.$color-dark, 0.1);

      &__circle {
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: colors.$color-primary;
        border: 5px solid colors.$color-background-n;
        bottom: 50%;
        left: -55px;
      }

      &__content {
        &__title {
          color: colors.$color-primary;
        }

        &__sub-title {
          margin-bottom: 0;
        }
      }
    }

    .high-school {
      position: relative;
      border-radius: 10px;
      background-color: colors.$color-white;
      width: calc(50% - 40px);
      padding: 20px;
      color: colors.$color-subdued;
      margin-right: auto;
      box-shadow: inset 4px 4px 2px rgba(colors.$color-dark, 0.1);

      &__circle {
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: colors.$color-subdued;
        border: 5px solid colors.$color-background-n;
        bottom: 50%;
        right: -55px;
      }

      &__content {
        &__sub-title {
          margin-bottom: 0;
        }

        a {
          color: colors.$color-subdued;
        }
      }
    }
  }
}

#contact {
  background-color: colors.$color-background;

  .contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    &__forms {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;

      &__title {
        margin-bottom: spacing.spacing("normal");
      }

      &__form {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background: url(../../assets/images/contact-bg.jpg) center no-repeat;
        background-size: cover;
        text-align: right;
        padding: spacing.spacing("small") spacing.spacing("normal");
        width: 500px;

        &__label {
          font-weight: 700;
          color: colors.$color-white;

          &__req {
            font-weight: 700;
            color: colors.$color-primary;
          }

          margin-bottom: 6px;
        }

        &__input {
          margin-bottom: 12px;
        }

        &__textarea,
        &__input {
          padding: 3px 12px;
          border: 3px solid transparent;
          box-shadow: none;
          border-radius: 5px;
          outline: none;
          width: 100%;
          transition: all .2s ease;


          &:focus {
            border: 3px solid colors.$color-blue;
            box-shadow: 0px 0px 10px rgba(colors.$color-white, 0.30);
          }

        }

        &__textarea {
          min-height: 100px;
          max-height: 200px;
          resize: vertical
        }

        &__note {
          color: colors.$color-white;
        }

        &__buttons {
          margin-top: 12px;
          display: inline-flex;
          gap: 1rem;

          &__btn {
            width: 100%;
            padding: 5px 10px;
            outline: none;
            color: colors.$color-dark;
            background-color: colors.$color-white;
            border: 2px solid transparent;
            border-radius: 5px;
            font-weight: 700;
            transition: all .3s ease;

            &--reset {
              color: colors.$color-white;
              border: 2px solid colors.$color-white;
              background-color: transparent;

              &:hover {
                background-color: rgba(colors.$color-white, 0.3);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: layout.$medium-devices) {}

@media (max-width: layout.$small-devices) {
  #projects-gallery {
    .projects {
      .project {
        gap: 0;
        flex-direction: column;

        &__gallery {
          &__carousel {
            img {
              height: 200px;
            }
          }
        }
      }
    }
  }

  #education {
    background-color: colors.$color-background-n;

    .timeline {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &::before {
        right: 0;
      }

      .intermidate-diploma {
        width: calc(100% - 30px);
        margin-right: auto;
        margin-left: 0;

        &__circle {
          right: -40px;
        }

        &__content {
          &__title {
            font-size: 16px;
          }

          &__sub-title {
            font-size: 16px;
          }
        }
      }

      .high-school {
        width: calc(100% - 30px);
        margin-right: auto;

        &__circle {
          right: -40px;
        }

        &__content {
          &__title {
            font-size: 16px;
          }

          &__sub-title {
            font-size: 16px;
          }
        }
      }
    }
  }

  #home {
    .hero-container {
      flex-direction: column;

      &__my-personal {
        margin-right: 0;
        margin-bottom: 3rem;
      }
    }
  }
}

@media (max-width: layout.$x-small-devices) {
  .contact-us {
    &__forms {
      &__form {
        width: 100% !important;
      }
    }
  }

  // home
  #home {
    .hero-container {
      &__my-personal {
        width: auto;
        &__img {
          height: 250px;
        }
      }
    }
  }
}

@media (max-width: layout.$xs-small-devices) {
  // #about-me {
  //   .stat {
  //     i.stat-icon {
  //       font-size: spacing.spacing("small");
  //     }
  //   }
  // }

  // home
  #home {
    .hero-container {
      &__hero-content {
        &__btns {
          &__btn {
            padding-right: 15px;
            padding-left: 15px;

            span {
              display: none;
            }
          }
        }
      }
    }
  }
}