@use "../config/colors" as colors;
@use "../utilities/spacing" as spacing;
@use "../config/layout" as layout;
@use "sass:color";

// rest
#about-me,
#skills,
#certificates,
#projects-gallery {
  h1 {
    padding-bottom: spacing.spacing("normal");
  }
}

//classes
.subdued {
  color: colors.$color-subdued;
}

.custom-border-bottom {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid colors.$color-dark;
  width: fit-content;
}

// home
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  background-color: colors.$color-background;

  .wrapper {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(255, 0, 0, 0);
      transition: box-shadow 0.3s ease;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }

      &::after {
        background-color: rgba(colors.$color-primary, 0.06);
      }
    }
  }

  .custom-btn {
    border: none;
    background-color: colors.$color-brand;
    box-shadow: 0px 2px 0px 2px colors.$color-gray;
    color: colors.$color-white;

    &:hover {
      background-color: colors.$color-primary;
      color: colors.$color-white;
    }

    &:active {
      box-shadow: 0px 1px 0px 1px colors.$color-gray;
      color: colors.$color-white;
    }
  }

  .ghost {
    background-color: colors.$color-background-n;
    color: colors.$color-brand;

    &:hover {
      background-color: colors.$color-background-n;
      color: colors.$color-primary;
    }
  }
}

#about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$color-background-n;

  ul {
    list-style: none;
    padding: spacing.spacing("extra-small") 0px;

    .li-about {
      padding: spacing.spacing("extra-small") 0px;
    }
  }

  .li-about,
  .stat {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: inset 0px 0px 0px 1px colors.$color-gray;
    background-color: colors.$color-background;
    color: colors.$color-gray;
    padding: spacing.spacing("small") 0px;
    transition: all 0.3s ease;
    cursor: pointer;

    i.stat-icon {
      font-size: spacing.spacing("normal");
    }

    p {
      margin-bottom: 0;

      .stat-num {
        color: colors.$color-primary;
        font-size: spacing.spacing("small");
      }
    }

    h3 {
      margin-bottom: 0;
      color: colors.$color-primary;
    }

    &:hover {
      box-shadow: inset 0px 0px 0px 1px colors.$color-dark;
      transform: translateY(-2px);
    }
  }
}

#skills {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$color-background;

  h3 {
    color: colors.$color-gray;

    &.custom-border-bottom {
      border-bottom: 3px solid colors.$color-gray;
    }
  }

  .custom-skill-card {
    background: colors.$color-white;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s;

    &:hover {
      transform: translateY(-5px);
    }

    &__title {
      font-size: 18px;
      margin: 10px 0;
    }

    &__level {
      display: inline-block;
      padding: 4px 10px;
      background: colors.$color-gray;
      color: colors.$color-white;
      border-radius: 8px;
      font-size: 12px;
    }
  }
}

#certificates {
  background-color: colors.$color-background-n;

  .custom-certificates-card {
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 350px;
    border: 2px solid transparent;
    background-color: colors.$color-white;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      border: 2px solid colors.$color-gray;
    }

    &__tmrer {
      position: relative;
      overflow: hidden;
      height: 300px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overly {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: all .3s ease;
        background: rgba(0, 0, 0, 0.50);
      }

      &:hover {
        .overly {
          opacity: 1;
        }
      }

      &__button {
        color: colors.$color-white;
        background-color: colors.$color-link;
        box-shadow: 0px 10px 15px transparent;
        padding: 5px 10px;
        border-radius: 8px;
        border: none;
      }
    }

    &__contents {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      padding: 25px;

      &__type {
        font-size: 14px;
        border-radius: 5px;
        padding: 3px 5px;
        color: colors.$color-white;

        &--one {
          background-color: colors.$color-blue-dark;
        }

        &--two {
          background-color: colors.$color-yellow-dark;
        }

        &--three {
          background-color: colors.$color-red-dark;
        }
      }

      &__date {
        font-size: 14px;
        border-radius: 5px;
        padding: 3px 5px;
        color: colors.$color-gray;
        background-color: colors.$color-background-n;
      }

      &__title {
        font-size: 18px;
        margin-bottom: 0;
      }

      &__issuing-organization {
        margin-bottom: 0;
        font-size: 16px;
        color: colors.$color-gray;
      }
    }
  }
}


#projects-gallery {
  .projects {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .project {
      border-bottom: 3px solid colors.$color-background-n;
      padding-bottom: 25px;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      &--one {
        flex-direction: row;
      }

      &--two {
        flex-direction: row-reverse;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 75px;

      &__contents {
        flex: 5;
        display: flex;
        text-align: right;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;


        &__title {
          color: colors.$color-dark;
          margin-bottom: 8px;
        }

        &__desc {
          color: colors.$color-gray;
          margin-bottom: 16px;
        }

        &__technologies {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;

          &__technique {
            border-radius: 5px;
            text-align: center;
            color: colors.$color-white;
            background-color: colors.$color-gray;
            font-weight: 600;
            padding: 3px 9px;

          }
        }

        &__links {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin: 16px 0px;

          &__link {
            font-weight: 600;
            border-radius: 10px;
            padding: 5px 10px;
            background-color: colors.$color-dark;
            border: 1px solid transparent;
            color: colors.$color-white;

            &--button {
              &:hover {
                background-color: adjust-color(colors.$color-dark, $lightness: 20%);
              }
            }

            &--ghost {
              font-weight: 400;
              background-color: transparent;
              border: 1px solid black;
              color: black;

              &:hover {
                background-color: rgba(colors.$color-dark, 0.10);
              }
            }
          }
        }
      }

      &__gallery {
        flex: 5;
        width: 100%;
        height: 300px;
        border-radius: 10px;

        &__carousel {
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .carousel-inner {
            height: 100%;
            border-radius: 10px;

            .carousel-item {
              height: 100%;
            }
          }

          &__control {
            color: unset !important;
            background-color: unset !important;
            filter: unset !important;
            opacity: 1 !important;

            i {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 25px;
              height: 25px;
              border-radius: 5px;
              color: colors.$color-white;
              font-size: 18px;
              font-weight: bold;
              background-color: rgba(colors.$color-dark, 0.50);
              transition: all .2s ease;

              &:active,
              &:focus,
              &:hover {
                background-color: rgba(colors.$color-dark, 1);
              }
            }
          }
        }

      }
    }
  }
}

@media (max-width: layout.$medium-devices) {
  #home {
    .wrapper {
      height: 200px;
      width: 200px;
    }
  }
}

@media (max-width: layout.$small-devices) {
  #projects-gallery {
    .projects {
      .project {
        gap: 0;
        flex-direction: column;

        &__gallery {
          &__carousel {
            img {
              height: 200px;
            }
          }
        }
      }
    }
  }
}