@use "../config/colors" as colors;
@use "../config/layout" as layout;
@use "sass:color";

.nav-bg {
  background-color: colors.$color-brand-bg;
}

#custom-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;


  .custom-nav {
    height: 60px;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__links {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 0;

      &__link {
        font-weight: 400;
        color: colors.$color-white;
        background-color: colors.$color-primary;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: inset 1px -2px colors.$color-brand;
        text-align: center;

        &:hover {
          background-color: adjust-color(colors.$color-primary, $lightness: 10%);
        }

        &--active {
          font-weight: 700;
          color: colors.$color-primary;
          background-color: colors.$color-white;
          box-shadow: none;

          &:hover {
            background-color: colors.$color-white;
          }
        }
      }
    }

    &__humburger {
      display: none;
      flex-direction: column;
      gap: 5px;

      span {
        width: 25px;
        height: 3px;
        background: colors.$color-white;
        transition: 0.3s;
      }

      &.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &.active span:nth-child(2) {
        opacity: 0;
      }

      &.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}

@media (max-width: layout.$medium-devices) {
  #custom-navbar {
    .custom-nav {
      &__links {
        position: absolute;
        top: 60px;
        width: 100%;
        
        max-width: 700px;
        min-height: calc(100vh - 60px);
        flex-direction: column;
        align-items: center;
        gap: 15px;
        transform: translateY(-150%);
        transition: 0.3s ease;
        background-color: colors.$color-brand-bg;

        &__link {
          padding: 5px 30px;
        }
      }


      &__links.active {
        transform: translateY(0);
      }

      &__humburger {
        display: flex;
        font-size: 24px;
        background: none;
        border: none;
        color: colors.$color-white;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: layout.$small-devices) {
  #custom-navbar {
    .custom-nav {
      &__links {
        max-width: 520px;
      }
    }
  }
}

@media(max-width: layout.$x-small-devices) {

  #custom-navbar {
    .custom-nav {
      &__links {
        right: 0;
      }
    }
  }
}