@use "../config/colors" as colors;

@mixin interactive($background, $background-hover) {
  background-color: $background;
  color: colors.$color-white;

  &:hover {
    background-color: colors.$color-primary;
    color: colors.$color-white;
  }
  &:focus,
  &:active {
    background-color: adjust-color(colors.$color-primary, $lightness: 10%);
    color: colors.$color-white;
  }
  &:focus-visible {
    background-color: $background-hover;
  }
}

$box-shadow: 0px 0px 1px 2px colors.$color-brand;

.nav-link {
  box-shadow: none;
}

.custom-navbar {
  min-height: 60px;

  button {
    border: none;
  }

  box-shadow: 2px -1px 5px 0px colors.$color-primary;
  outline: none !important;
  background-color: colors.$color-background-n;

  .custom-dropdown {
    min-width: 70px;
  }

  .dropdown-item {
    width: auto;
    text-align: center;
    color: colors.$color-white;

    &:active {
      background-color: colors.$color-primary;
    }
  }

  .navbar-nav .nav-link.show {
    color: colors.$color-white;
  }

  .buton-nav,
  .nav-item a {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.3s;
    @include interactive(colors.$color-brand, colors.$color-primary);
  }

  .navbar-toggler {
    &:focus {
      box-shadow: $box-shadow;
    }
  }
}
