<footer id="footer">
    <div class="container p-0">
        <div class="content bg-footer bg-footer--gray">
            <img src="assets/images/logo.png" class="content__img" alt="Logo" />
            <div class="content__quick-about">
                <h3 class="content__quick-about__title">
                    نبذة سريعة
                </h3>
                <p class="content__quick-about__desc">
خريج جامعة طيبة تخصص <b>مطور ويب متكامل</b>، وأتممت دورة في <b>تطوير واجهات المستخدم</b> من أكاديمية حسوب، وأسعى حالياً لوظيفة بدوام كامل لتطوير مهاراتي والمساهمة في المجال.
                </p>
            </div>
            <div class="content__quick-link">
                <h3 class="content__quick-link__title">
                    روابط سريعة
                </h3>
                <ul class="content__quick-link__cont">
                    <li>
                        <a href="#home" class="content__quick-link__cont__link">
                            <i class="fa-solid fa-house"></i>
                            الرئيسية
                        </a>
                    </li>
                    <li>
                        <a href="#projects-gallery" class="content__quick-link__cont__link">
                            <i class="fa-solid fa-briefcase"></i>
                            معرض الأعمال
                        </a>
                    </li>
                    <li>
                        <a href="#contact" class="content__quick-link__cont__link">
                            <i class="fa-solid fa-address-book"></i>
                            تواصل معي
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content__cta">
                <h3 class="content__cta__title">
                    مسؤول توظيف؟
                </h3>
                <p class="content__cta__disc">
                    لديك <i>"عرض عمل"</i> أو <i>"فكرة"</i> أو <i>"مشروع"</i> تود النقاش فيه معي, <b>لا تتردد</b>
                </p>
                <a href="#contact" class="content__cta__btn">
                    <i class="fa-solid fa-business-time"></i>
                    تواصل معي الأن
                </a>
            </div>
        </div>
        <div class="copyright bg-footer">
            <p class="copyright__content">
                جميع الحقوق محفوظة ©
                <span id="current-year"></span>
                لدى عبدالرحمن المغير
            </p>
        </div>
    </div>
</footer>