<!doctype html>
<html lang="ar" dir="rtl" data-bs-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="assets/images/logo.png" type="image/png">
  <script type="module" src="./js/main.js"></script>
  <title>{{title}}</title>
</head>

<body>
{{> navbar}}
