<nav id="custom-navbar">
  <div class="container nav-bg">
    <div class="custom-nav">

      <a href="#home">
        <img src="assets/images/logo.png" class="custom-nav__logo" height="55" alt="Logo" />
      </a>

      <ul class="custom-nav__links ">
        <li><a href="#home" class="custom-nav__links__link custom-nav__links__link--active">
            الرئيسية
          </a></li>
        <li><a href="#about-me" class="custom-nav__links__link">
            نبذة عني
          </a></li>
        <li><a href="#skills" class="custom-nav__links__link">
            المهارات
          </a></li>
        <li><a href="#certificates" class="custom-nav__links__link">
            الدورات والشهادات
          </a></li>
        <li><a href="#projects-gallery" class="custom-nav__links__link">
            معرض الأعمال
          </a></li>
        <li><a href="#education" class="custom-nav__links__link">
            التعليم
          </a></li>
        <li><a href="#contact" class="custom-nav__links__link">
            تواصل معي
          </a></li>
      </ul>

      <button class="custom-nav__humburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</nav>