@font-face {
    font-family: 'Apercu Arabic Pro';
    src: url("/assets/fonts/ApercuArabicPro-Regular.otf") format(opentype);
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Arabic Pro';
    src: url("/assets/fonts/ApercuArabicPro-Bold.otf") format(opentype);
    font-weight: bold;
    font-display: swap;
}


$family-heading: 'Apercu Arabic Pro', 'Helvetica Neue', 'Segoe UI', sans-serif;
$family-content: 'Apercu Arabic Pro', -apple-system, BlinkMacSystemFont,'Helvetica Neue','Geeza pro', 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, sans-serif ;